.main-page{
    height: 860px;
    width: 860px;
    background-color: lightblue;
    padding: 20px;
    justify-content: center;
    
    
}
.title{
    
    color: rgb(100, 99, 99);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.box1 {
    height: 200px;
    width: 800px;
    background-color:blueviolet;
    margin: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    
    
}
.box2 {
    height: 200px;
    width: 800px;
    background-color: darkolivegreen;
    margin: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    
}
.box3 {
    height: 200px;
    width: 800px;
    background-color: seashell;
    margin: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    
    
}

.pic1, .pic2, .pic3{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 10px;

}
.ending{
    justify-content: center;
    display: flex;
}
.span{
    color: gray;
}
.link{
    color: blue;
}