*{
    margin: 0;
    padding: 0;
}
#header{
    background-color: rgb(7, 7, 51);
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 1;
    
}

.profile, .links, .btn{
    /* background-color: rgb(7, 7, 56); */
    padding: 10px;
    margin: 10px;
    flex: 1;
}
.links{
    min-width: 220px;
}
.profile{
    text-align: right;
    color: white;
    font-family: cursive;
}
.btn button{
    background-color: skyblue;
    color: white;
}
.header-links{
    list-style-type: none;
    display: flex;
    padding-left: 0;
    
}
.header-links a{
    color: white;
    text-decoration: none;
    font-size: 80%;
    font-family: arial;
    
}
.connections{
    
    margin-left: 10px;
}
.my-profile{
    margin-left: 10px;
}

.mainbox{
    width: 600px;
    height: 800px;
    position: absolute;
    margin-left: 380px;
    margin-top: 100px;
    
    
}

.col1{
    width: 400px;
    height: 800px;
    position: absolute;
    margin-left: 0px;
}

.col2{
    width: 200px;
    height: 800px;
    position: absolute;
    margin-left: 400px;
}


.user-card{
    width:400px;
    height: 300px;
    margin: auto;
    position: absolute;
}

.personalpic{
    margin-top: -37.5px;
    margin-left: 25px;
    width: 70px;
    height: 70px;
    position: absolute;
    border: 4px solid lightgray;
    border-radius: 50%;

}
.top{
    background-color: darkcyan;
    width: 100%;
    height: 25%;
    position: relative;
}
.content{
border: 4px solid lightgray;
width: 392px;
height: 75%;
border-top-style: none;
display: flex;
position: absolute;

}

#name {
    position: absolute;
    margin-top: 40px;
    margin-left: 25px;
    font-family: cursive;

    }

h2 img {
    width: 12px;
    margin-top: 90px;
    margin-left: 25px;
    position: relative;

}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

.info{
    position: absolute;
    margin-left: 25px;
    margin-top: 120px;
    font-weight: bold;
}
.edit{
    position: absolute;
    margin-left: 25px;
    margin-top: 180px;
}
.edit img{
    width: 15px;
}

.edu{
    width:400px;
    height: 300px;
    margin: auto;
    position: absolute;
    margin-top: 350px;

}
.edu-top{
    background-color: darkgray;
    width: 100%;
    height: 15%;
    position: relative;
}
.edu-top p{
    color: white;
    margin-left: 25px;
    font-size: 20px;    
    position: absolute;
    margin-top: 10px;
}
.edu-content{
border: 4px solid lightgray;
width: 392px;
height: 75%;
border-top-style: none;
position: absolute;
font-family: cursive;
font-size: 15px;

}
.line1, .line2, .line3{
    margin-left: 25px;
}
.line2{
    color: darkgray;
}
.line3{
    overflow: hidden;
}

.connection-req{
    width:180px;
    height: 150px;
    margin: auto;
    position: absolute;
    margin-left: 20px;

}

.conn-req-top{
    background-color: darkgray;
    width: 100%;
    height: 33%;
    position: relative;
    display: flex;
    align-items: center;

}

.conn-req-content{
border: 4px solid lightgray;
width: 172px;
height: 67%;
border-top-style: none;
position: absolute;
font-size: 15px;


}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gray ;
    background-color: grey;
    position: absolute;
    margin-left: 10px;
    text-align: center;
    font-family: arial;
    padding: 2px;
    font-size: 17px;
    align-items: center;
    line-height: 30px;
    
}
.circle2{
    width: 40px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gray ;
    background-color: grey;
    position: absolute;
    margin-left: 10px;
    text-align: center;
    font-family: arial;
    padding: 2px;
    font-size: 17px;
    align-items: center;
    line-height: 30px;
    
}


.list1 img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.list1 strong {
    margin-right: 20px;
}


.list1{
    list-style-type: none;
    margin-left: 10px;
    margin-top: 20px;
    justify-content: space-around;
    
    
}

.your-connections{
    width:180px;
    height: 250px;
    margin: auto;
    position: absolute;
    margin-left: 20px;
    margin-top: 200px;
}
.your-conn-top{
    background-color: darkgray;
    width: 100%;
    height: 25%;
    position: relative;
    display: flex;
    align-items: center;
}

.your-conn-content{
border: 4px solid lightgray;
width: 172px;
height: 60%;
border-top-style: none;
position: absolute;
font-size: 15px;
}

.your-conn-bottom{
border: 4px solid lightgray;
width: 172px;
height: 12%;
/* border-top-style: none; */
border-bottom: none;
position: absolute;
font-size: 15px;
margin-top: 120px;
}
#view{
    margin-left: 12px;
    font-family: arial;
    line-height: 25px;
    font-size: 12px;
}